<div class="popup-container" id="popup-download-image">
	<div class="popup-background" onclick="hidePopup('popup-download-image');"></div>
	<div class="popup-box" style="height: 180px">
		<i class="icon-cross" onclick="hidePopup('popup-download-image');"></i>
		<div class="btn-group-vertical" style="width:80%; height:60%">
			<button id="button_svg" class="btn w-50 m-2" style="width:100%; margin:8px">svg</button>
			<button id="button_png" class="btn w-50 m-2" style="width:100%; margin:8px">png</button>
		</div>
	</div>
</div>
