<!-- {% if key=='European' %}
    {% set percentage = summary.by_funder['All Funders'].total_european %}
{% elif key=='African' %}
    {% set percentage = summary.by_funder['All Funders'].total_african %}
{% elif key=='African American or Afro-Caribbean' %}
    {% set percentage = summary.by_funder['All Funders'].total_afamafcam %}
{% elif key=='Other/Mixed' %}
    {% set percentage = summary.by_funder['All Funders'].total_othermixed %}
{% elif key=='Asian' %}
    {% set percentage = summary.by_funder['All Funders'].total_asian %}
{% elif key=='Hispanic or Latin American' %}
    {% set percentage = summary.by_funder['All Funders'].total_hisorlatinam %}
{% endif %} -->

<div class="tile tile-numbers col-xs-4 {{ key | lower | replace(' ', '-') | replace('/', '-') }}">
    <div class="numbers">
        <div class="block">
            <div class="filling">
                <!--  style="height: {{ percentage }}%;" -->
                <i class="icon-arrow"></i>
            </div>
        </div>
        <span class="percentage">
            <!-- {{ percentage }}% -->
        </span>
        <span class="label">{{ key }}</span>
    </div>
</div>