<div class="popup-container" id="popup-footer">
    <div class="popup-background" onclick="hidePopup('popup-footer');"></div>
    <div class="popup-box">
        <i class="icon-cross" onclick="hidePopup('popup-footer');"></i>
        <p><b>Please cite this as: </b><br>Mills, M.C and Rahal, C., (2020). 'The GWAS Diversity Monitor Tracks diversity by disease in real time'. <em>Nature Genetics, 52,</em> 242-243. <a href="https://doi.org/10.1038/s41588-020-0580-y" target="_blank">https://doi.org/10.1038/s41588-020-0580-y</a></p>
        <br>
        <p><b>Maintained by: </b><br>The Leverhulme Centre for Demographic Science</p>
        <br>
        <p><b>Accompanying code library: </b><br>Boef, N., Brunier, Q., Knowles, I., Malowany, A., May, J., Mills, M.C., Misseri, L., Nixon, G., Ntova, V., Rahal, C. and Sinclair, C., (2020). 'Source code for the GWAS Diversity Monitor', (Version v1.0.0). <em>Zenodo</em>. <a href="https://doi.org/10.5281/zenodo.3600472" target="_blank">https://doi.org/10.5281/zenodo.3600472</a></p>
    </div>
</div>
