# docker compose containers for flask app, nginx reverse proxy, and cron data collector with a shared data volume.
version: '3.1'

services:
  nginx:
    image: nginx:latest
    container_name: gwas_nginx
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 81:80
    networks:
      - my-network
    depends_on:
      - flask
    restart: unless-stopped
  flask:
    build:
      context: ./
      dockerfile: flask.Dockerfile
    container_name: gwas_flask
    command: gunicorn --config gunicorn_config.py wsgi:app
    volumes:
      - ./:/var/www
      - data:/app/app/data:ro
    networks:
      my-network:
        aliases:
          - flask-app
    restart: unless-stopped
  cron:
    build:
      context: ./
      dockerfile: cron.Dockerfile
    container_name: gwas_cron
    command: cron -f
    volumes:
      - data:/app/data
    networks:
      - my-network
    restart: unless-stopped

networks:
  my-network:

volumes:
  data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/doug/git/OxfordDemSci/gwasdiversitymonitor/data