certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
freeze==1.0.10
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
libsass==0.19.3
MarkupSafe==1.1.1
numpy==1.17.4
pandas==0.25.3
pkg-resources==0.0.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-ftp==0.3.1
six==1.12.0
urllib3==1.25.6
Werkzeug==0.16.0
yattag==1.12.2
