<div class="heat-map-header">
    <h3>Parent term by 'broader' ancestry</h3>
    <div class="heat-map-header-sub">
        <small>By <span class="metric-title">Participants</span> - <span class="stage-title">Discovery</span> Stage</small>
        <div class="heat-map-change-year">
            <button type="button" class="previous icon" onclick="hmfirstYear()" aria-label="First heat-map year"><i class="icon-double-chevron-left" aria-hidden="true"></i></button>
            <button type="button" class="previous icon" onclick="hmpreviousYear()" aria-label="Previous heat-map year"><i class="icon-chevron-left" aria-hidden="true"></i></button>
            <span aria-live="polite" aria-label="Heat-map year"></span>
            <button type="button" class="next icon" onclick="hmnextYear()" aria-label="Next heat-map year"><i class="icon-chevron-right" aria-hidden="true"></i></button>
            <button type="button" class="next icon" onclick="hmlastestYear()" aria-label="Latest heat-map year"><i class="icon-double-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<div class="heat-map-footer">
    {% with filename='heatmap', id='heat-map-controls' %}
        {% include 'components/three-icons.html' %}
    {% endwith %}
</div>
