{% extends "base.html" %}

{% block content %}

<div class="basic-page">
    <div class="content">
        <h1>{{ title }}</h1>
        <h2> Who we are </h2>
        <p>
          Our website address is https://gwasdiversitymonitor.com/. We are based at the <a href="http://www.demographicscience.ox.ac.uk/" target="_blank">Leverhulme Centre for Demographic Science</a>.
        </p>
        <h2>What personal data we collect and why we collect it</h2>
        <h3> Visitors </h3>
        <p>
          We do not currently collect any data from visitors to our site other at an aggregate level for Google Analytics (GA).
        </p>
        <h3>Embedded content from other websites</h3>
        <p>
          Our site currently has no embedded content so other sites should not be able to track your visit here.
        </p>
        <h3>GWAS Catalog Data</h3>
        <p>
          We collect aggregate, anonymous counts of genotyped participants from the <a href="https://www.ebi.ac.uk/gwas/" target="_blank">EMBL-EBI GWAS Catalog</a>. We receive only counts of participants per study and we do not process or store any individual user genetic data. All visualisations, code and underlying data generated as part of the project is shared freely for academic, research and informational purposes (subject to the EMBL-EBI <a href="https://www.ebi.ac.uk/about/terms-of-use/" target="_blank">Terms of Use</a>).
        </p>
        <h3>How long we retain your data</h3>
        <p>
          No personal data is collected other than anonymous GA usage statistics (please see our Cookie Policy, below).
        </p>
        <h3>Who we share your data with</h3>
        <p>
          We use these anonymised usage statistics for reporting back to our funders, and this data is available on request.
        </p>
        <h3>Where we send your data</h3>
        <p>
          We use these anonymised usage statistics for reporting back to our funders, and this data is available on request.
        </p>
        <h3>What rights you have over your data</h3>
        <p>
          We do not hold any personal data other than at an aggregated level (as described above). However, if we or another site did hold any of your personal data, you can request to receive an exported file of the personal data that is held about you, including any data you have provided. You can also request that any personal data held about you is erased. This does not include any data that some sites may be obliged to keep for administrative, legal, or security purposes.
        </p>
        <h3>Our contact information</h3>
        <p>
          Please contact us directly on contact [AT] gwasdiversitymonitor.com if you have any questions, concerns or data enquires.
        </p>
    </div>
    <div class="content" id="cookie-policy">
        <h2>Cookie Policy</h2>
        <p> The only cookies that we use are Google Analytics for anonymised site traffic analysis. We do this to understand how frequently our site is being visited, which we in turn then use to report about the broader impact of our research to our funders. </p>
    </div>
</div>

<script type="text/javascript">
    var pathArray = window.location.href.split('#');
    var section = pathArray[1];

    if(section) {
        $('html,body').animate({
            scrollTop: $('#' + section).offset().top - 80},
        'slow');
    }
</script>

{% endblock %}
