@font-face {
  font-family: 'PTSansNarrow';
  src: url('../fonts/PTSansNarrow/PTSansNarrow-Regular.427aa961c68c.woff2') format('woff2'),
  url('../fonts/PTSansNarrow/PTSansNarrow-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PTSansNarrow';
  src: url('../fonts/PTSansNarrow/PTSansNarrow-Bold.ee484e3d8bba.woff2') format('woff2'),
  url('../fonts/PTSansNarrow/PTSansNarrow-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}
