<div id="footer">
    <div class="container">

        <div class="contact col-sm-6 col-md-3 col-lg-2">
            {% include 'components/logo-footer.html' %}
            <a href="mailto:contact@gwasdiversitymonitor.com">contact@gwasdiversitymonitor.com</a>
        </div>

        {% with class='col-sm-6' %}
            {% include 'partials/menu.html' %}
        {% endwith %}

        <div class="img-zone col-sm-12 col-md-5 col-lg-6">
            <a href="http://www.demographicscience.ox.ac.uk/" class="col-xs-8 col-sm-3" target="_blank">
                <img src="{{ url_for('static', filename='images/LT-logo.png') }}" alt="The Leverhulme Trust">
            </a>
            <a href="https://www.sociogenome.org/" class="col-xs-8 col-sm-3" target="_blank">
                <img src="{{ url_for('static', filename='images/ERC-logo.png') }}" alt="European Research Council">
            </a>
            <a href="https://www.thebritishacademy.ac.uk/" class="col-xs-8 col-sm-3" target="_blank">
                <img src="{{ url_for('static', filename='images/BA-logo.png') }}" alt="British Academy">
            </a>
            <a href="https://www.sociology.ox.ac.uk/" class="col-xs-8 col-sm-3" target="_blank">
                <img src="{{ url_for('static', filename='images/OU-logo.png') }}" alt="University of Oxford">
            </a>
        </div>

    </div>
</div>

{% include 'components/popup.html' %}
{% include 'components/download-image.html' %}
