<div id="header" class="{% if not switches %} no-switches {% else %} with-switches {% endif %}" >
    <div class="container">
        <div class="logo-gwas col-md-3">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" class="logo-gwas-float" alt="Logo GWAS">
                <h1 class="logo-gwas-type">
                    GWAS
                    <small class="logo-gwas-small">Diversity Monitor</small>
                </h1>
            </a>
        </div>

        <div class="right col-sm-10 col-md-9">
            <div class="header-filters__left">
                {% with title='Funders', name='funders', id='funders-select' %}
                {% include 'components/tree-select.html' %}
                {% endwith %}
                <!-- <a href="#" class="btn btn-header">
                    Report
                    <i class="icon-download-data"></i>
                </a> -->
            </div>
            <div class="header-filters__right">
                {% with title='Metric', name='metric', items=[('By Participants', 'by-participants'), ('By Studies', 'by-studies')], type='single' %}
                {% include 'components/header-select.html' %}
                {% endwith %}

                {% with title='Stage', name='stage', items=[('Discovery', 'discovery'), ('Replication', 'replication')], type='single' %}
                {% include 'components/header-select.html' %}
                {% endwith %}

                <a href="{{ url_for('getCSV', filename='gwasdiversitymonitor_download') }}" class="btn btn-header">
                    CSV
                    <i class="icon-download-data"></i>
                </a>
                
                <a href="{{ url_for('additional') }}" class="btn btn-header add-info">Additional Information</a>
            </div>

            <div class="menu-burger" id="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="menu-nav" id="nav-menu">
        {% include 'components/logo-footer.html' %}
        <ul>
            <li>
                <a href="{{ url_for('additional') }}">Additional Information</a>
            </li>
        </ul>

        {% with class='col-sm-12' %}
            {% include 'partials/menu.html' %}
        {% endwith %}
    </div>
</div>