<div class="menu-links col-sm-6 col-md-4">
    <ul class="{{ class }}">
        <li>
            <a href="{{ url_for('privacy') }}">Privacy Policy</a>
        </li>
        <li>
            <a href="https://www.ebi.ac.uk/gwas/" target="_blank">NHGRI-EBI Catalog</a>
        </li>
        <li>
            <a href="https://github.com/OxfordDemSci/gwasdiversitymonitor" target="_blank">GitHub</a>
        </li>
    </ul>
    <ul class="{{ class }}">
        <li>
            <span onclick="launchPopup();">How to cite this</span>
        </li>
        <li>
            <a href="https://www.global-initiative.com/" target="_blank">In collaboration with Global Initiative/a>
        </li>
        <li>
            <a href="{{ url_for('qandas') }}">Q&As</a>
        </li>
    </ul>
</div>
