.logo-gwas {
  position: relative;
  @include flexbox;
  @include align-items(center);

  &-float,
  &-type {
    @include transition-all;
  }

  &-float {
    position: absolute;
    width: 48px;
    left: -8px;
    top: -10px;
    white-space: nowrap;
  }

  &-type {
    color: $white;
    margin-left: 55px;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;

    small {
      font-size: 19px;
      color: $dark-purple;
    }
  }
}

#header {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  background: $light-primary;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  &,
  &.hide-logo {
    overflow: hidden;
  }

  .container {
    height: 100%;
    padding-top: 0;

    .left,
    .right {
      @include align-items(center);
    }

    &,
    .left,
    .right {
      @include flexbox;
      @include justify-content(space-between);
    }

    .download,
    .add-info {
      display: none;
    }
  }
}

.header-filters__left {
  display: none;

  @include breakpoint(medium) {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 21px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: $primary;
    }
  }
}

.header-filters__right {
  display: none;
  
  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
  }
}

.header-select {
  display: flex;
  align-items: center;
  gap: 11px;

  span {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: $white;
  }

  .gwas-select-container {
    width: 100%;
    max-width: 121px;
    border: none;

    &::before {
      border-color: #1E1E1E transparent transparent transparent;
      right: 10px;
      z-index: 1;
      top: 50%;
      transform: translateY(-2.5px);
      pointer-events: none;
    }

    select {
      padding: 10px 30px 10px 10px;
      background: $white;
      font-size: 16px;
      font-weight: 400;
      color: #1E1E1E;
    }

    .select2-container {
      width: 100%;
    }

    .select2-selection {
      border-radius: 0px;
      border: none;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
      padding: 0 10px;
      min-height: 41px;
      display: flex;
      flex-direction: row;
      overflow: auto;
      font-size: 16px;

      li {
        display: flex;
        align-self: center;
      }
    }

    .select2-container--default .select2-search--inline .select2-search__field {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  #header {

    &.with-switches {
      .container {

        .right {
          width: 70%;
        }

        .logo-gwas-type {
          display: none;
        }
      }
    }
  }
}

@include breakpoint(tablet) {
  .logo-gwas {
    width: 20%;

    &-float {
      width: 46px;
      left: -45px;
    }

    @media screen and (max-width: $medium-breakpoint) {
      &-type {
        margin-left: 5px;
        font-size: $big-size;
        line-height: 20px;
        small {
          font-size: $regular-size;
        }
      }
    }
  }

  #header {
    height: 62px;
    overflow: visible;

    &.no-switches {
      .container {

        .right {
          @include justify-content(flex-end);

          .add-info {
            margin-right: 20px;
          }
        }
      }
    }

    &.hide-logo {

      .container {

        .logo-gwas {

          &-float {
            width: 38px;
          }
        }
      }
    }

    .container {

      .right {
        @include flexbox;
        @include justify-content(flex-end);
      }

      .download,
      .add-info {
        display: block;
      }

      .download {

        &:before {
          color: $white;
          @include transition-all;
        }

        &:hover {

          &:before {
            color: $primary;
          }
        }
      }
    }
  }
}

@include breakpoint(medium) {
  .logo-gwas {

    &-float {
      left: 0;
    }

    &-type {
      margin-left: 64px;
      font-size: 30px;
      line-height: 24px;

      small {
        font-size: 19px;
      }
    }
  }

  #header {

    .container {

      .right {
        width: 45%;
      }
    }
  }
}
