.popup {

  &-container,
  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  &-container,
  &-box {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }

  &-container {

    opacity: 0;
    z-index: -1;
    @include transition-all(.4s);

    &.active {
      opacity: 1;
      z-index: 200;
    }
  }

  &-background {
    background: rgba($gwas-content-black, .4);
    z-index: -1;
  }

  &-box {
    width: 100%;
    height: 350px;
    background: $white;
    padding: 5px 15px;
    position: relative;
    margin: 0 5px;
    @include flex-direction(column);
    @include box-shadow($box-shadow);

    i {
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 10px;
    }

    p {
      text-align: center;
      font-size: $small-size;
      line-height: 30px;
    }

    @include breakpoint(tablet) {
      width: 400px;
    }
  }
}

.body-safari {

  .popup {

    &-container {
      z-index: 200;
      display: none;

      &.active {
        @include flexbox;
      }
    }
  }
}
