<html>
    <head>
        {% if title %}
            <title>{{ title }} - GWAS Diversity Monitor</title>
        {% else %}
            <title>GWAS Diversity Monitor</title>
        {% endif %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="This interactive dashboard monitors participants included across all published Genome Wide Association Studies (GWAS).">
        <meta name="og:title" property="og:title" content="GWAS Diversity Monitor">
        {% if config.get('GWAS_NOINDEX', False) %}
            <meta name="robots" content="noindex, nofollow, noarchive">
        {% else %}
            <meta name="robots" content="index, follow">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ versioned_static('images/favicon.ico') }}" type="image/x-icon" />

        <!--Javascript-->
        {% block core_dependencies %}
            <script defer src="{{ versioned_static('js/imports/jquery-3.4.1.min.js') }}"></script>
        {% endblock %}
        {% block page_dependencies %}{% endblock %}

        <!--Style-->
        <link href="{{ versioned_static('css/app.scss.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ versioned_static('css/dashboard-accessibility.css') }}" rel="stylesheet" type="text/css">
        {% block page_styles %}{% endblock %}

        {% if goatcounter_url %}
            <!-- Privacy-friendly, cookie-free analytics hosted on our server. -->
            <script data-goatcounter="{{ goatcounter_url }}/count"
                    async src="{{ goatcounter_url }}/count.js"></script>
        {% endif %}
    </head>
    <body class="{% block body_class %}body-{{ browser }}{% endblock %}">

        {% block site_header %}
            {% include 'partials/header.html' %}
        {% endblock %}

        <div class="container main">
            {% block content %}{% endblock %}
        </div>

        {% block site_footer %}
            {% include 'partials/footer.html' %}
        {% endblock %}

        {% block core_scripts %}
            <script defer src="{{ versioned_static('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
